main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: red;
}


@media screen and (min-width: 601px) {
    main {
        font-size: 25px;
        color: blue;
    }
}

@media screen and (min-width: 1201px) {
    main {
        font-size: 30px;
        color: yellow;
        
    }

    li::first-letter {
        font-weight: bold;
        color: red;
      }
    }
      




li {
    margin: 10px;
}